<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge">
    <title>PizzaForever</title>
    <link rel="stylesheet" th:href="@{/css/picnic.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <div class="container">
        <h3 class="hallo">hallo :: was kann ich für dich tun?</h3>

        <nav class="demo imponent">
            <a href="#" class="brand">
                <img class="logo" th:src="@{/img/logo.png}" />
                <span>PizzaForever-App</span>
            </a>

            <input id="bmenub" type="checkbox" class="show">
            <label for="bmenub" class="burger pseudo button">menu</label>

            <div class="menu">
                <a class="pseudo button">Auswahl</a>
                <a class="pseudo button">einloggen</a>
            </div>
        </nav>

        <br>

        <table class="primary">
            <thead>
                <tr>
                    <th class="secondary-color">Menge</th>
                    <th class="secondary-color">Pizza</th>
                    <th class="secondary-color">Preis+Größe</th>
                    <th class="secondary-color">in den Warenkorb</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pizza:${pizzas}">
                    <form th:action="@{/indenwarencorb}" method="post">
                        <td>
                            <label>
                                <input name="menge" type="number" placeholder="Menge" value="0" pattern="^[\d]$">
                            </label>
                        </td>
                        <td th:text="${pizza.getName()}">Pizza Name</td>
                        <td>
                            <select name="pizzaSize">
                                <option th:text="${'Medium / '+pizza.getPriceMedium()}" th:value="${T(whz.pti.eva.PizzaProjekt_Dandaev_Satarov.warencorb.domain.PizzaSize).Medium}"></option>
                                <option th:text="${'Large / '+pizza.getPriceLarge()}" th:value="${T(whz.pti.eva.PizzaProjekt_Dandaev_Satarov.warencorb.domain.PizzaSize).Large}"></option>
                                <option th:text="${'Small / '+pizza.getPriceSmall()}" th:value="${T(whz.pti.eva.PizzaProjekt_Dandaev_Satarov.warencorb.domain.PizzaSize).Small}"></option>
                            </select>
                        </td>
                        <td>
                            <input type="hidden" th:name="pizza" th:value="${pizza.getId()}">
                            <button class="myCoolButton" type="submit" >in den Warenkorb</button>
                        </td>
                    </form>
                </tr>
            </tbody>
        </table>

        <br>

        <small>
            IM WARENKORB ::: Anzahl der bestellten Pizzas:
<!--            <span th:text="${warenCorb.size()}"></span>-->
            <span th:text="${countInWarencorb}">0</span>
            mit Gesamtbetrag:
            <span th:text="${commonPriceInWarencorb+'€'}">0.00</span>
        </small>
        <a th:href="@{/warencorb}" class="button myCoolButton width-max">zum Warenkorb</a>
    </div>
    <br>
    <br>
</body>
</html>