<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pizza Forever</title>
    <head th:include="fragments/header :: head"></head>
</head>
<body>

    <div class="container">

        <h5 class="text-center mt-1">hallo :: was kann ich für dich tun?</h5>

        <nav th:replace="fragments/nav :: nav (links=${ {
            {name:'Auswahl', url:'/', active:'active'},
            {name:'Warencorb', url:'/warencorb', active:''},
            {name:'Einlogen', url:'/login', active:''},
            {name:'Registrieren', url:'/register', active:''}
        }})"></nav>

        <br>

        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Menge</th>
                    <th scope="col" class="text-center">Pizza</th>
                    <th scope="col" class="text-center">Preis+Größe</th>
                    <th scope="col" class="text-center">in den Warenkorb</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pizza:${pizzas}">
                    <form th:action="@{/indenwarencorb}" method="post" role="form" th:object="${itemCreateForm}">
                        <td>
                            <input class="form-control" name="quantity" type="number" placeholder="Menge" value="0" pattern="^[\d]$">
                        </td>
                        <td>
                            <input type="text" class="form-control" readonly th:value="${pizza.getName()}" disabled>
                        </td>
                        <td>
                            <select class="custom-select" name="pizza">
                                <option th:text="${'Medium / '+pizza.getPriceMedium()}" th:value="${T(whz.pti.eva.PizzaProjekt_Dandaev_Satarov.warencorb.domain.PizzaSize).Medium}"></option>
                                <option th:text="${'Large / '+pizza.getPriceLarge()}" th:value="${T(whz.pti.eva.PizzaProjekt_Dandaev_Satarov.warencorb.domain.PizzaSize).Large}"></option>
                                <option th:text="${'Small / '+pizza.getPriceSmall()}" th:value="${T(whz.pti.eva.PizzaProjekt_Dandaev_Satarov.warencorb.domain.PizzaSize).Small}"></option>
                            </select>
                        </td>
                        <td>
                            <input type="hidden" name="pizza" th:value="${pizza.getId()}">
                            <button class="btn btn-outline-secondary btn-block" type="submit" >in den Warenkorb</button>
                        </td>
                    </form>
                </tr>
            </tbody>
        </table>

        <br>

        <p>
            IM WARENKORB ::: Anzahl der bestellten Pizzas:
            <span th:text="${countInWarencorb}">0</span>
            mit Gesamtbetrag:
            <span th:text="${commonPriceInWarencorb+'€'}">0.00</span>
        </p>
        <a th:href="@{/warencorb}" class="btn btn-light btn-block mb-5">zum Warenkorb</a>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>