<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <head th:include="fragments/header :: head"></head>
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center align-items-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form th:action="@{/register}" method="post" role="form" th:object="${customerCreateForm}">
                        <div class="form-group">
                            <label for="inputFirstName">First Name</label>
                            <input type="text" class="form-control" placeholder="First Name" name="firstName" id="inputFirstName">
                        </div>
                        <div class="form-group">
                            <label for="inputLastName">Last Name</label>
                            <input type="text" class="form-control" placeholder="Last Name" name="lastName" id="inputLastName">
                        </div>
                        <div class="form-group">
                            <label for="inputLoginName">Login Name</label>
                            <input type="text" class="form-control" placeholder="Login Name" name="loginName" id="inputLoginName">
                        </div>
                        <div class="form-group">
                            <label for="inputPasswordNew">Password New</label>
                            <input type="password" class="form-control" placeholder="Password New" name="passwordNew" id="inputPasswordNew">
                        </div>
                        <div class="form-group">
                            <label for="inputPasswordConfirm">Password Confirm</label>
                            <input type="password" class="form-control" placeholder="Password Confirm" name="passwordConfirm" id="inputPasswordConfirm">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Registrieren</button>
                        <div class="form-group">
                            <label for="link" class="text-secondary">Haben Sie Account?</label>
                            <a th:href="@{/login}" class="badge badge-light" id="link">Einlogen</a>
                        </div>
                        <div class="text-danger" th:each="error:${errors}">
                            <span th:text="${error}"></span>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <h5 class="text-center">
                        <a th:href="@{/}">Zurück zum Auswahl</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>