<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Warencorb</title>
    <head th:include="fragments/header :: head"></head>
</head>
<body>
<div class="container">

    <h5 class="text-center mt-1">hallo :: was kann ich für dich tun?</h5>

    <nav th:replace="fragments/nav :: nav (links=${ {
        {name:'Auswahl', url:'/', active:''},
        {name:'Warencorb', url:'/warencorb', active:'active'},
        {name:'Einlogen', url:'/login', active:''},
        {name:'Registrieren', url:'/register', active:''}
    }})"></nav>

    <br>

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:each="item:${items}">
                        <form method="post" th:action="@{decreasecount}" class="d-inline-block">
                            <input type="hidden" th:name="decreasedItemPizzaId" th:value="${item.getPizza().getId()}">
                            <input type="hidden" th:name="decreasedItemQuantity" th:value="${item.getQuantity()}">
                            <input type="hidden" th:name="decreasedItemPizzaSize" th:value="${item.getSize()}">
                            <button th:if="${item.getQuantity()>1}" class="badge badge-info" type="submit">-</button>
                            <button th:unless="${item.getQuantity()>1}" disabled class="badge badge-info" type="submit">-</button>
                        </form>
                        <button class="btn btn-link btn-lg" disabled th:text="${item.getQuantity()}">Quantity</button>
                        <form method="post" th:action="@{increasecount}" class="d-inline-block">
                            <input type="hidden" th:name="increasedItemPizzaId" th:value="${item.getPizza().getId()}">
                            <input type="hidden" th:name="increasedItemQuantity" th:value="${item.getQuantity()}">
                            <input type="hidden" th:name="increasedItemPizzaSize" th:value="${item.getSize()}">
                            <button class="badge badge-info" type="submit">+</button>
                        </form>

                        <button class="btn btn-link btn-lg" disabled>
                            <span th:text="${item.getPizza().getName()}">Pizza Name</span>
                            <span class="badge badge-secondary" th:text="${item.getSize()}">Pizza Size</span>
                        </button>

                        <button class="btn btn-link btn-lg" disabled th:switch="${item.getSize()}">
                            <span th:case="${T(whz.pti.eva.PizzaProjekt_Dandaev_Satarov.warencorb.domain.PizzaSize).Large}"
                                th:text="${item.getPizza().getPriceLarge() + ' €'}"></span>
                            <span th:case="${T(whz.pti.eva.PizzaProjekt_Dandaev_Satarov.warencorb.domain.PizzaSize).Medium}"
                                th:text="${item.getPizza().getPriceMedium() + ' €'}"></span>
                            <span th:case="${T(whz.pti.eva.PizzaProjekt_Dandaev_Satarov.warencorb.domain.PizzaSize).Small}"
                                th:text="${item.getPizza().getPriceSmall() + ' €'}"></span>
                        </button>

                        <form method="post" th:action="@{deleteitem}" class="d-inline-block float-right">
                            <input type="hidden" th:name="deletedItemPizzaId" th:value="${item.getPizza().getId()}">
                            <input type="hidden" th:name="deletedItemQuantity" th:value="${item.getQuantity()}">
                            <input type="hidden" th:name="deletedItemPizzaSize" th:value="${item.getSize()}">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card position-sticky">
                <div class="card-body">
                    <h3 th:text="${'GesamtPreis: '+ commonPreis + '€'}">Gesamtpreis</h3>
                    <a href="#" class="btn btn-success btn-block">Bezahlen</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>