<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,
	initial-scale=1, shrink-to-fit=no">
	<title>EvaSpringChatApp</title>
</head>
<body>
	<tr th:each="grade: ${grades}">
	    <td th:text="${grade.lecture}" />
	    <td th:text="${grade.grade}" />
	</tr>
	<form th:action="@{/add}" method = "post">
		<input type="text" name="lecture">
		<br>
		<input type="text" name="grade">
		<br>
		<input type="submit" value="Add Grade">
	</form>
	
</body>
</html>